ericADF/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ericADF"
		},
		"DIM_Time_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DIM_Time'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/00001-date-and-time-dimension-load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "00001-date-and-time-dimension-load",
				"activities": [
					{
						"name": "Populate DIM_Date",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Populate DIM_Time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[generate_DIM_Date_rows]",
							"storedProcedureParameters": {
								"inBeginDate": {
									"value": "'1980-01-01'",
									"type": "Datetime"
								},
								"inEndDate": {
									"value": "'2064-12-31'",
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DIM_Time",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Populate DIM_Time",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[generate_DIM_Time_rows]"
						},
						"linkedServiceName": {
							"referenceName": "DIM_Time",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DIM_Time')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DIM_Time')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('DIM_Time_connectionString')]",
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				}
			},
			"dependsOn": []
		}
	]
}