ericADF/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ericADF"
		},
		"ProductionFeeds_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ProductionFeeds'"
		},
		"DIM_Time_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DIM_Time'"
		},
		"ericKV01lks_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://ericKV01.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ProductionFeeds')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ProductionFeeds_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ericKV01lks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ericKV01lks_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/00002-generate-store-orders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "generate store orders history",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[createStoreOrders]",
							"storedProcedureParameters": {
								"businessDate": {
									"value": null,
									"type": "DateTime"
								},
								"numOrders": {
									"value": "",
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ProductionFeeds",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ProductionFeeds')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DIM_Time')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('DIM_Time_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ericKV01lks",
							"type": "LinkedServiceReference"
						},
						"secretName": "admin01-user-pwd"
					},
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ericKV01lks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/00001-date-and-time-dimension-load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "00001-date-and-time-dimension-load",
				"activities": [
					{
						"name": "Populate DIM_Time",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[generate_DIM_Time_rows]"
						},
						"linkedServiceName": {
							"referenceName": "DIM_Time",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Populate DIM_Date",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Populate DIM_Time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[generate_DIM_Date_rows]",
							"storedProcedureParameters": {
								"inBeginDate": {
									"value": "1980-01-01",
									"type": "DateTime"
								},
								"inEndDate": {
									"value": "2064-12-31",
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DIM_Time",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DIM_Time')]"
			]
		}
	]
}